<% @user ||= current_user %>
<div class="stats">
<table summary="User Deal stats">
<tr>
<td>
<a href="<%= deals_user_path(@user) %>">
<span id="dealattendees" class="stat">
<%= @user.deals.count %> Deals
</span>
</a>
</td>
</tr>
</table>
</div>

