
<div class="stats">
<table summary="User Deal stats">
<tr>
<td>
<a href="<%= attendees_deal_path(@deal) %>">
<span id="attend" class="stat">
<%= @deal.users.count %> attenders
</span>
</a>
</td>
</tr>
</table>
</div>

